<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moodster"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTUwhf02LwTpPG5dSE1WIwnmhRiehhlsM" />

        <!-- ✅ Launcher Activity: Login -->

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- ✅ Register + Login Activity -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <!-- ✅ Forgot Password Activity -->
        <activity android:name=".ForgotPasswordActivity" />

        <!-- ✅ Change Password Activity -->
        <activity android:name=".ChangePasswordActivity" />

        <!-- ✅ Home -->
        <activity android:name=".HomeActivity" />

        <!-- ✅ Mood Related -->
        <activity android:name=".AddMoodActivity" />
        <activity android:name=".MoodActivity" />
        <activity android:name=".MoodDetailsActivity" />
        <activity android:name=".MoodHistoryActivity" />
        <activity android:name=".EditMoodActivity" />
        <activity android:name=".MapHandlerActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".CommentsActivity" />

        <!-- ✅ User Related -->
        <activity android:name=".SearchUsersActivity" />
        <activity android:name=".FriendRequestActivity" />
        <activity android:name=".FriendListActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".LoginOrRegisterActivity" />

    </application>
</manifest>